body {
	position: relative;
	margin: 0px;
	padding: 0px;
}

#right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 14%;
	border: 1px solid black;
	padding: 5px;
	font-family: comic sans ms;
	font-size: 11pt;
}

#left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14%;
	border: 1px solid black;
	padding: 5px;
	font-family: comic sans ms;
	font-size: 11pt;
}

#container {
	margin: auto;
	width: 65%;
	font-family: comic sans ms;
	font-size: 50pt;
}

#formula {
	border: 1px solid black;
}

#formula div {
	display: inline;
}

#container div, #container input, #container button.action {
	font-size: 90pt;
}


#container input {
	width: 180px;
}

#container button.action {
	width: 48%;
	text-align: center;
}

#container div.number {
	width: 20%;
}

#container div.finalAnswer {
	width: 20%;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

#container div.output {
	font-size: 12pt;
	vertical-align: top;
}